<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookNow"
        tools:targetApi="31">
        <activity
            android:name=".Customer.showCategoryBusinesses"
            android:exported="false" />
        <activity
            android:name=".Customer.viewAppointmentsHistory"
            android:exported="false" />
        <activity
            android:name=".Customer.viewUpcomingAppointments"
            android:exported="false" />
        <activity
            android:name=".Customer.VerifyOTP"
            android:exported="false" />
        <activity
            android:name=".Customer.C_Login"
            android:exported="false" />
        <activity
            android:name=".business.B_Register"
            android:exported="false" />
        <activity
            android:name=".business.B_Login"
            android:exported="false" />
        <activity android:name=".business.EditBusinessProfile" />
        <activity android:name=".Utils.AppointmentDateSelectionActivity" />
        <activity android:name=".Utils.AppointmentListActivity" />
        <activity android:name=".Utils.TimeSlotSelectionActivity" />
        <activity android:name=".business.BusinessSpecialHoursEditActivity" />
        <activity
            android:name=".Utils.TestDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_test_dashboard"
            android:theme="@style/Theme.BookNow.NoActionBar" />
        <activity android:name=".Utils.ServiceProviderSetWorkingDaysActivity" />
        <activity android:name=".Utils.ServiceProviderSetNameAndServicesActivity" />
        <activity android:name=".business.ChooseDayandTimeActivity" />
        <activity android:name=".business.ChooseServiceActivity" />
        <activity android:name=".Utils.ShowBusinessActivity" />
        <activity android:name=".business.BusinessServiceEditActivity" />
        <activity android:name=".business.BusinessServicesManagementActivity" />
        <activity android:name=".business.BusinessRegularHoursEditActivity" />
        <activity
            android:name=".business.BusinessSetupActivity"
            android:parentActivityName=".business.BusinessEmailVerificationActivity" />
        <activity android:name=".business.BusinessEmailVerificationActivity" />
        <activity android:name=".business.BusinessDashboardActivity" />
        <activity
            android:name=".Utils.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Customer.C_Dashboard" />
        <activity android:name=".Customer.viewCategories" />
    </application>

</manifest>